<div id="<%= dom_id todo %>">
  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <div>
    <%= button_to toggle_priority_todo_path(todo),
                  method: :patch,
                  form: { data: { turbo_stream: true } },
                  title: (todo.high_priority? ? "High priority" : "Normal priority") do %>
      <%= todo.high_priority? ? "★" : "☆" %>
    <% end %>
  </div>
</div>
